# =========================
# Node / React
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
out/

# =========================
# Environment files
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Vite
# =========================
.vite/

# =========================
# Editor / OS files
# =========================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Cache
# =========================
.cache/
.eslintcache


# =========================
# Windows
# =========================
*.Zone.Identifier
